apiVersion: apps/v1
kind: Deployment
metadata:
  name: policy-service
  labels:
    app: policy-service
spec:
  replicas: 4
  selector:
    matchLabels:
      app: policy-service
  template:
    metadata:
      labels:
        app: policy-service
    spec:
      containers:
      - name: policy-service
        image: indikak2005/policy-service:2291b220f1ef42e0863dea687bfcdad0751faf86
        imagePullPolicy: Always
        ports:
          - name: http
            containerPort: 8082
